.main-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.left{
    width: 50%;
}

.left img{
    height: 70%;
    width: 70%;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.right span{
    font-weight: 900;
    text-transform: capitalize;
    font-size: 3rem;
    color: #abedbf ;
    margin-bottom: 4rem;
}